# Sun-rotation-calculator requirements
# Usage: pip install -r requirements.txt

# Base ----------------------------------------
numpy >= 1.23.1
opencv-python >= 4.5.5.64
matplotlib >= 3.5.2
openpyxl >= 3.0.10
sympy >= 1.10.1
imutils >= 0.5.4
Pillow >= 9.2.0